.title__profile{
	display: flex;
	align-items: center;
	padding-bottom: 30px;
border-bottom: 1px solid #F2F2F2;
}
.profile__container{
	padding: 30px;
	border-radius: 20px;
background: #FFF;
width: 405px;
}
.text__title_profile{
color: #000;
font-size: 20px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-left: 20px;

}
.link__profile{
	color: #000;
font-size: 20px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 150%;

}
.item__drop_profile{
	padding: 20px 0;
	border-bottom: 1px solid #F2F2F2;
}
.item__drop_profile:last-child{
	border: none;
}
.header__user{
	position: relative;
}
.profile__container{
	position: absolute;
	display: block;

	z-index: 5;
	opacity: 0;
	top: 103px;
	right: 0;
	transform: translateY(-150%);
	overflow: hidden;
	transition: transform 1s, opacity 2s;
}

.profileActive{
	transform: translateY(0%);
	transition: transform 1s, opacity 2s;
	opacity: 1;
	z-index: 999;
	overflow: visible;
	display: block;
}
